.split {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	.splitPane {
		overflow: auto;
		background-color: #fff;
	}
	&.vertical {
		flex-direction: column;
	}

	&.horizontal {
		.gutter {
			height: 100%;
		}
	}

	.gutter {
		background-color: #eee;
		background-repeat: no-repeat;
		background-position: 50%;
		background-color: #d0d1d4;
		background-repeat: no-repeat;
		background-position: 50% center;
		height: 10px;

		.gutter.gutter-vertical {
			cursor: row-resize;
		}

	}
}